- content_for('page_scripts') do
  :plain
    $(window).load(function() {
      $('#email').focus()
    });

%h1= t 'forgot_username'
%p= t 'enter_email_for_username'
%p
  - form_tag forgot_login_path do
    %label{:for => "email"}
      == #{t 'enter_email'}:
      = text_field_tag 'email'
      = submit_tag 'Submit'
