<% if result.is_a?(Location::LocationHeader) %>
  <tr class='location_header'>
    <td colspan="2"><%= result.geocode_address %></td>
    <td><%= ((result.distance.to_f*10).round)/10.0 %></td>
  </tr>
<% else %>
  <tr class='location'>
    <td><%= link_to(result.name,  location_path(result.slug)) %></td>
    <td><%= result.street_address if result.precision == :address %></td>
    <td><%= ((result.distance.to_f*10).round)/10.0 if result.precision == :address %></td>
  </tr>
<% end %>
