- if @map
  %div{:style => 'float: right;'}
    = @map.div(:width => 350, :height => 300)

- unless @results
  - content_for("page_scripts") do
    :plain
      $(window).load(function() {
        $('#address').focus();
      });

- unless @results.blank?
  #results
    - if @closest
      %h1= t('no_match')
      %p= t('no_clubs_matched')
    - else
      %h1= t('search_results')
    %table.results
      %tr
        %th= t 'name'
        %th= t 'address'
        %th= t 'miles'
      - sort_locations_by_distance(@results) do |info, group|
        %tr.location-header
          %td== #{info[0]}, #{info[1]}
          %td
          %td= info[2].round(1)
        = render :partial => "result", :collection => group

- if @results.blank? && @closest.blank?
  %h1= t('search')
- else
  %h2= t('search_again')

%p= t('search_instructions')
- form_tag({:action => "radius"}, :method => :get) do
  %table
    %tr
      %td== #{t 'address_or_postcode'}:
      %td= text_field_tag :address, @address, :size => 30
    %tr
      %td== #{t 'radius'}:
      %td
        %select#radius{:name => "radius"}
          - @radii.each do |radius|
            %option{:selected => radius == @radius}= radius
        = t('miles_downcase')
  = submit_tag t('search')
%br/
%br/
%h2= t('state_listing')
- active_countries(true).each do |country|
  .country{:style => "clear: left;"}
    = link_to country.full_name, :controller => :locations, :type => 'go-clubs', :action => :index, :country => country.full_name.gsub(' ', '-')
  - by_columns(active_states_for(country.abbrev)) do |column|
    .column{:style => 'float: left; width: 120px; padding-bottom: 1em;'}
      - column.each do |state|
        .state
          = link_to state.full_name, :controller => :locations, :type => 'go-clubs', :action => :index, :country => country.full_name.gsub(' ', '-'), :state => state.full_name.gsub(' ', '-')
