- if @map
  %div{:style => 'float: right;'}
    = @map.div(:width => 350, :height => 300)

- unless @results
  - content_for("page_scripts") do
    :plain
      Event.observe(window, 'load',
        function() { $('address').focus() }
      );

- unless @results.blank?
  #results
    - if @closest
      %h1 No Match
      %p
        No locations matched your search.  However, here is the closest match in our database:
    - else
      %h1 Search Results
    %table.results
      %tr
        %th Name
        %th Address
        %th Miles
      - sort_locations_by_distance(@results) do |info, group|
        %tr.location-header
          %td== #{info[0]}, #{info[1]}
          %td
          %td= info[2].round(1)
        = render :partial => "result", :collection => group

- if @results.blank? && @closest.blank?
  %h1 Search
- else
  %h2 Search again

%p
  Enter a full address, a city and state, or a zip code to find locations to
  play Go in your area.  Your information won't be shared, and the more
  information you provide, the more accurate the search will be.
- form_tag({:action => "radius"}, :method => :get) do
  %table
    %tr
      %td Address, City, State, or Zip:
      %td= text_field_tag :address, @address, :size => 30
    %tr
      %td Radius:
      %td
        %select#radius{:name => "radius"}
          - @radii.each do |radius|
            %option{:selected => radius == @radius}= radius
  = submit_tag 'Search'
%br/
%br/
%h2 Listing by state
- active_countries(true).each do |country|
  .country{:style => "clear: left;"}
    = link_to country.full_name, :controller => :locations, :type => 'go-clubs', :action => :index, :country => country.full_name.gsub(' ', '-')
  - by_columns(active_states_for(country.abbrev)) do |column|
    .column{:style => 'float: left; width: 120px; padding-bottom: 1em;'}
      - column.each do |state|
        .state
          = link_to state.full_name, :controller => :locations, :type => 'go-clubs', :action => :index, :country => country.full_name.gsub(' ', '-'), :state => state.full_name.gsub(' ', '-')
