<% content_for("page_scripts") do %>
  Event.observe(window, 'load',
    function() { $('address').focus() }
  );
<% end %>

<% if !@results.blank? %>
  <h1>Search Results</h1>
  <table>
    <tr><th>Name</th><th>Address</th><th>Miles</th></tr>
    <% @results.each do |result| %>
      <tr><td><%= link_to(result.name, location_path(result)) %></td><td><%= result.geocode_address %></td><td><%= ((result.distance.to_f*10).round)/10.0 %></td></tr>
    <% end %>
  </table>
  <br><br>
<% elsif @closest %>
  <h1>No Match</h1>
  <p>
    No locations matched your search.  However, here is the closest match in
    our database:
  </p>
  <table>
    <tr><th>Name</th><th>Address</th><th>Miles</th></tr>
    <tr><td><%= link_to(@closest.name, location_path(@closest)) %></td><td><%= @closest.geocode_address %></td><td><%= ((@closest.distance.to_f*10).round)/10.0 %></td></tr>
  </table>
  <br><br>
<% end %>

<% if @results.blank? && @closest.blank? %>
  <h1>Search</h1>
<% else %>
  <h2>Search again</h2>
<% end %>
<p>
Enter a full address, a city and state, or a zip code to find locations to
play Go in your area.  Your information won't be shared, and the more
information you provide, the more accurate the search will be.
</p>
<% form_tag({:action => "radius", :type => params[:type]}, :method => :get) do %>
  <table>
    <tr><td>Address, City, State, or Zip:</td><td><%= text_field_tag :address, @address, :size => 30 %></td></tr>
    <tr><td>Radius:</td>
      <td>
        <select id="radius" name="radius">
          <% @radii.each do |radius| %>
            <option<%=' selected="selected"' if radius == @radius %>><%= radius %></option>
          <% end %>
        </select>
      </td>
    </tr>
    <% unless params[:type] %>
      <tr><td>Type:</td>
        <td>
          <select id="type_id" name="type_id">
            <option value="0">Any</option>
            <% @types.each do |type| %>
              <option value="<%= type.id %>"<%=' selected="selected"' if type.id == @type_id %>><%= type.name %></option>
            <% end %>
          </select>
        </td>
      </tr>
    <% end %>
  </table>
  <%= submit_tag 'Search' %>
<% end %>
