<% form_for :location, @location, :html => {:method => :get}, :url => {:action => "radius", :type => params[:type]} do |f| %>
  <table>
    <tr><td>Address:</td><td><%= f.text_field :street_address %></td></tr>
    <tr><td>City:</td><td><%= f.text_field :city %></td></tr>
    <tr><td>State:</td><td><%= f.text_field :state %></td></tr>
    <tr><td>Zip Code:</td><td><%= f.text_field :zip_code %></td></tr>
    <tr><td>Radius:</td>
      <td>
        <select id="radius" name="radius">
          <% @radii.each do |radius| %>
            <option<%=' selected="selected"' if radius == @radius %>><%= radius %></option>
          <% end %>
        </select>
      </td>
    </tr>
    <% unless params[:type] %>
      <tr><td>Type:</td>
        <td>
          <select id="type_id" name="type_id">
            <option value="0">Any</option>
            <% @types.each do |type| %>
              <option value="<%= type.id %>"<%=' selected="selected"' if type.id == @type_id %>><%= type.name %></option>
            <% end %>
          </select>
        </td>
      </tr>
    <% end %>
  </table>
  <%= submit_tag 'Search' %>
  <br><br>
  <% unless @results.blank? %>
    <table>
      <tr><th>Name</th><th>Address</th></tr>
      <% @results.each do |result| %>
        <tr><td><%= link_to(result.name, location_path(result)) %></td><td><%= result.geocode_address %></td></tr>
      <% end %>
    </table>
  <% end %>
<% end %>
