- form_for :user, :url => account_path do |f|
  %p
    %label{:for => "user_login"} Login
    %br/
    = f.text_field :login
  %p
    %label{:for => "user_email"} Email
    %br/
    = f.text_field :email
  %p
    %label{:for => "user_password"} Password
    %br/
    = f.password_field :password
  %p
    %label{:for => "user_password_confirmation"} Confirm Password
    %br/
    = f.password_field :password_confirmation
  - if current_user && @roles
    %p
      %label{:for => "roles"} Roles
      %br/
      %select{:name => "user[roles][]", :multiple => "multiple"}
        = options_from_collection_for_select(@roles, "id", "name", @user.roles.collect{|r| r.id})
  %p
    = submit_tag 'Sign up'
