- content_for("page_scripts") do
  :plain
    Event.observe(window, 'load',
      function() { $('user_login').focus() }
    );

- form_for :user, :url => account_path do |f|
  %table
    %tr
      %td
        %label{:for => "user_login"} Login:
      %td
        = f.text_field :login
    %tr
      %td
        %label{:for => "user_email"} Email:
      %td
        = f.text_field :email
    %tr
      %td
        %label{:for => "user_password"} Password:
      %td
        = f.password_field :password
    %tr
      %td
        %label{:for => "user_password_confirmation"} Confirm Password:
      %td
        = f.password_field :password_confirmation
    - if current_user && @roles
      %tr
        %td
          %label{:for => "roles"} Roles
        %td
          %select{:name => "user[roles][]", :multiple => "multiple"}
            = options_from_collection_for_select(@roles, "id", "name", @user.roles.collect{|r| r.id})
    %tr
      %td &nbsp;
      %td
        = link_to 'Forgot password', forgot_password_path
        &nbsp;
        = link_to 'Forgot login', forgot_login_path
  %p
    = submit_tag 'Sign up!'
