%h1= t 'edit_settings'
- form_tag settings_path, :method => :put do
  = error_messages_for :user
  %h2= t 'addresses'
  %table
    = render :partial => 'common/address_form', :collection => @user.addresses

  %h2= t 'change_password'
  %table
    %tr
      %td
        %label{:for => 'password'}== #{t 'password'}:
      %td
        = password_field_tag 'password'
    %tr
      %td
        %label{:for => 'password_confirmation'}== #{t 'confirm_password'}:
      %td
        = password_field_tag 'password_confirmation'
  = submit_tag t('submit')
