%style
  :sass
    #promotego-search
      :background-color #{@widget_params[:background_color]}
      :color #{@widget_params[:text_color]}
      :padding 5px
      :width #{@widget_params[:width]}
      :height #{@widget_params[:height]}
      :font-family #{@widget_params[:font_family]}
      :font-size 15px
      :position relative
      p
        :position relative
        :margin 0px
      input#address
        :position relative
        :left -3px
        :width= 100%
        :font-family #{@widget_params[:font_family]}
        :font-size 14px
      a
        :color #{@widget_params[:text_color]}
        :text-decoration none
        &:hover
          :text-decoration underline
      form
        :margin 0px
      .top-row
        :margin 2px 0px 2px 0px
      .bottom-row
        :position absolute
        :width 100%
        :margin 3px 0px 2px 0px
        :bottom 0px
      .clear_on_click
        :color #{@widget_params[:dim_color]}
      #submit_button
        :margin-right 8px
        :float right

- default_text = 'Enter full address or zip code'
:javascript
  defaultText = "#{escape_javascript(default_text)}"
  function clickclear(thisfield) {
    if (thisfield.value == defaultText) {
      thisfield.value = "";
      thisfield.setAttribute("class", "")
    }
  }
  function clickrecall(thisfield) {
    if (thisfield.value == "") {
      thisfield.value = defaultText;
      thisfield.setAttribute("class", "clear_on_click")
    }
  }

#promotego-search
  .top-row Find a Go club near you
  - form_tag({:controller => :search, :action => :radius, :only_path => false}, {:method => :get, :onsubmit => 'clickclear(this.address)', :target => '_blank'}) do
    .middle-row
      %label{:for => :address, :style => 'display: none;'} Enter address:
      = text_field_tag :address, default_text, :size => 30, :class => 'clear_on_click', :onfocus => 'clickclear(this)', :onblur => 'clickrecall(this)'
  .bottom-row
    = link_to 'PromoteGo.org', :controller => :widgets, :action => :index, :only_path => false
    = hidden_field_tag :radius, '25'
    = submit_tag 'Go!', :id => 'submit_button'
