%p
  Location:
  = @affiliation.location.name
%p
  Affiliate:
  = @affiliation.affiliate.name
%p
  Expires:
  = @affiliation.expires
= link_to 'Edit', edit_affiliation_path(@affiliation)
|
= link_to 'Back', affiliations_path
