%h1= t 'send_message'
- form_tag :action => :send_mail do
  = hidden_field_tag :email, (@email || params[:id])
  = hidden_field_tag :listing_url, @listing_url || request.referer

  == #{t 'from'}:
  = text_field_tag("from", @from)
  %br/

  == #{t 'message'}:
  %br/
  = text_area_tag("message", @message, :rows => 10, :cols => 80)
  %br/
  %br/
  == #{t 'captcha_instructions'}:
  = recaptcha_tags
  = submit_tag t('send')
