- content_for("page_scripts") do
  :plain
    $(window).load(function() {
      $('#user_session_login').focus()
    });

%h1= t 'log_in'

- form_for :user_session, @user_session, :url => {:action => :create} do |f|
  = f.error_messages
  %table
    %tr
      %td
        %label{:for => "user_session_login"}
          == #{t 'username'}:
      %td= f.text_field :login
    %tr
      %td
        %label{:for => "user_session_password"}
          == #{t 'password'}:
      %td= f.password_field :password
  %p
    %label{:for => "user_session_remember_me"}
      == #{t 'remember_me'}:
      = f.check_box :remember_me
  %p
    = link_to t('forgot_password'), forgot_password_path
    &nbsp;
    = link_to t('forgot_username'), forgot_login_path
  %p
    = submit_tag t('log_in')
