- content_for("page_scripts") do
  :plain
    Event.observe(window, 'load',
      function() { $('login').focus() }
    );

%h1 Login

- form_for :user_session, @user_session, :url => {:action => :create} do |f|
  = f.error_messages
  %table
    %tr
      %td
        %label{:for => "user_session_login"}
          Login:
      %td= f.text_field :login
    %tr
      %td
        %label{:for => "user_session_password"}
          Password:
      %td= f.password_field :password
  %p
    %label{:for => "user_session_remember_me"}
      Remember me:
      = f.check_box :remember_me
  %p
    = link_to 'Forgot password', forgot_password_path
    &nbsp;
    = link_to 'Forgot login', forgot_login_path
  %p
    = submit_tag 'Log in'
