.adr
  - unless location.street_address.blank?
    .street-address
      = location.street_address
  - else
    %div= t 'no_address'
  - unless location.city_state_zip.blank?
    %div
      - if location.city
        %span.locality= location.city
      - if location.state
        %span.region= location.state
      - if location.zip_code
        %span.postal-code= location.zip_code
  - unless location.country.blank?
    .country-name
      = location.country
