- if options[:link_club]
  = link_to "<b>#{location.name}</b>", location
- else
  %b= location.name
%br/
= render :partial => 'common/address', :locals => {:location => location}
- if location.driving_directions?
  %br/
  = link_to "Directions", "http://maps.google.com/maps?saddr=#{session[:last_search_address]}&daddr=#{location.geocode_address}"
