<% form_for(location) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Type</b><br />
    <%= collection_select :location, :type_id, @types, :id, :name %>
  </p>

  <% if current_user.has_role?(:administrator) %>
  <p>
    <b>Owner</b><br />
    <%= text_field_with_auto_complete :user, :login, :autocomplete => "off" %>
  </p>
  <% end %>

  <p>
    <b>URL</b><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <b>Address</b><br />
    <%= f.text_field :street_address %>
  </p>

  <p>
    <b>City</b><br />
    <%= f.text_field :city %>
  </p>

  <p>
    <b>State</b><br />
    <%= f.text_field :state %>
  </p>

  <p>
    <b>Zip code</b><br />
    <%= f.text_field :zip_code %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <b>Contacts</b> <%= link_to "add contact", "javascript:add_contact()" %>
    <div id='contacts'>
      <% contacts = location.contacts || [{}] %>
      <% contacts.each_with_index do |contact, i| %>
        <%= render :partial => "contact_form", :locals => {:contact => contact, :contact_idx => i } %>
      <% end %>
    </div>
    <script language='javascript'>
      current_contacts = <%= contacts.length %>;
      current_phones = [<%= contacts.collect{|c| c[:phone] ? c[:phone].length : 0}.join(', ') %>]
      function add_contact() {
        new_contact =
          '<%= @contact_form %>'.replace(/CONTACT_IDX/g, current_contacts);
        appendHTML($('contacts'), new_contact);
        current_phones[current_contacts] = 1
        current_contacts++;
      }

      function add_phone(contact_idx) {
        new_phone = '<%= @phone_form %>';
        new_phone = new_phone.replace(/CONTACT_IDX/g, contact_idx);
        new_phone = new_phone.replace(/PHONE_IDX/g, current_phones[contact_idx]);

        appendHTML($('phones_'+contact_idx), new_phone)
        current_phones[contact_idx]++;
      }

      function appendHTML(elem, html) {
        newdiv = document.createElement("div")
        newdiv.innerHTML = html
        elem.appendChild(newdiv);
      }
    </script>
  </p>

  <p>
    <b>Hours</b><br />
    <%= f.text_field :hours %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
