<% form_for(location) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Type</b><br />
    <%= collection_select :location, :type_id, @types, :id, :name %>
  </p>

  <% if current_user.has_role?(:administrator) %>
  <p>
    <b>Owner</b><br />
    <%= text_field_with_auto_complete :user, :login, :autocomplete => "off" %>
  </p>
  <% end %>

  <p>
    <b>URL</b><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <b>Address</b><br />
    <%= f.text_field :street_address %>
  </p>

  <p>
    <b>City</b><br />
    <%= f.text_field :city %>
  </p>

  <p>
    <b>State</b><br />
    <%= f.text_field :state %>
  </p>

  <p>
    <b>Zip code</b><br />
    <%= f.text_field :zip_code %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <b>Contacts</b><br />
    <% location.contacts.each_with_index do |contact, i| %>
      Name: <%= text_field_tag "location[contacts][#{i}][name]", contact[:name] %><br>
      Email: <%= text_field_tag "location[contacts][#{i}][email]", contact[:email] %><br>
      <% if contact[:phone] %>
        <% contact[:phone].each_with_index do |phone, j| %>
          <%= render :partial => "phone_number_form", :locals => {:phone => phone, :contact_idx => i, :phone_idx => j } %>
        <% end %>
      <% end %>
      <br>
    <% end %>
  </p>

  <p>
    <b>Hours</b><br />
    <%= f.text_field :hours %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
