%h1= t 'editing_location'

= error_messages_for :location

= render :partial => "location_form", :locals => {:location => @location}

= link_to t('show'), @location
|
= link_to t('back'), locations_path
