<h1>Editing location</h1>

<%= error_messages_for :location %>

<% form_for(@location) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Type</b><br />
    <%= f.text_field :type_id %>
  </p>

  <p>
    <b>Address</b><br />
    <%= f.text_field :address %>
  </p>

  <p>
    <b>City</b><br />
    <%= f.text_field :city %>
  </p>

  <p>
    <b>State</b><br />
    <%= f.text_field :state %>
  </p>

  <p>
    <b>Zip code</b><br />
    <%= f.text_field :zip_code %>
  </p>

  <p>
    <b>Phone number</b><br />
    <%= f.text_field :phone_number %>
  </p>

  <p>
    <b>Hours</b><br />
    <%= f.text_field :hours %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @location %> |
<%= link_to 'Back', locations_path %>
