%h1== Go Clubs #{@locality}

- if @map
  %div{:style => 'float: right;'}
    = @map.div(:width => 350, :height => 300)

%table.results
  %tbody
    - for location in @locations
      %tr{:class => current_user == location.user ? nil : "other_users"}
        %td= link_to h(location.name), location
        - @fields.each do |field|
          %td= h location.send(field)
  %thead
    %th Name
    - @fields.each do |field|
      %th= field.to_s.titleize

= link_to 'New location', new_location_path
