%h1== Go Clubs #{@locality}

- if @map
  %div{:style => 'float: right;'}
    = @map.div(:width => 350, :height => 300)

%table.results
  %tbody
    - if params[:state]
      - locations_by_city = @locations.group_by{|l| l.city}
      - locations_by_city.keys.sort.each do |city|
        %tr.location-header
          %td{:colspan => 2}
            %h2= city
        = render :partial => 'location_line', :collection => locations_by_city[city]

    - else
      - locations_by_state = @locations.group_by{|l| (STATE_FROM_ABBREV[@country] && STATE_FROM_ABBREV[@country][l.state]) || l.state}
      - locations_by_state.keys.sort.each do |state|
        - unless state.blank?
          %tr.location-header
            %td{:colspan => 2}
              %h2= state
        - locations_by_city = locations_by_state[state].group_by{|l| l.city || 'ZZZZZ'}
        - locations_by_city.keys.sort.each do |city|
          %tr.location-header
            %td{:colspan => 2}
              %h3= city == 'ZZZZZ' ? 'City Unknown' : city
          = render :partial => 'location_line', :collection => locations_by_city[city]

= link_to 'New location', new_location_path
