%h1 Listing locations

%table.results
  %tbody
    - for location in @locations
      %tr{:class => current_user == location.user ? nil : "other_users"}
        %td= link_to h(location.name), location
        %td= h location.city
        %td= h location.state
        %td= h location.country
  %thead
    %th Name
    %th City
    %th State
    %th Country

= link_to 'New location', new_location_path
