- @location.affiliations.each do |affiliation|
  - unless Time.now > affiliation.expires
    %img{:src => affiliation.affiliate.logo_path, :style => 'float: left; margin-right: 5px;'}
%h1= h @location.name

#club_info
  - if @map
    %div{:style => 'float: right;'}
      = @map.div(:width => 350, :height => 300)
  %p
    %b Type:
    &= @location.type.name
  - if @location.url
    %p
      %b Home page
      = link_to @location.url, @location.url
  %p
    %b Address:
    %br/
    = render :partial => "address", :locals => {:location => @location}
  %p
    %b Description:
    %br/
    = @location.description.gsub(/\n/, '<br/>')
  - if @location.contacts
    %p
      %b Contacts:
      - @location.contacts.each do |contact|
        %br/
        - if contact[:name]
          &= contact[:name]
          %br/
        - if contact[:email]
          = mail_to(contact[:email], "Email this contact")
          %br/
        - unless contact[:phone].blank?
          - contact[:phone].each do |phone|
            &= phone[:number]
            - unless phone[:type].blank?
              == (#{phone[:type]})
            %br/
  - unless @location.hours.blank?
    %p
      %b Hours:
      &= @location.hours
  - unless visible_affiliations.empty?
    %table.affiliations
      %tbody
        - visible_affiliations.each do |affiliation|
          %tr
            %td= affiliation.affiliate.name
            %td= affiliation.expires
            %td= affiliation.foreign_key
            %td
              - if affiliation.new_record?
                = link_to "add", new_affiliation_path(:affiliation => {:affiliate_id => affiliation.affiliate.id, :location_id => affiliation.location.id})
              - else
                = link_to "edit", edit_affiliation_path(affiliation) if current_user.administers(affiliation)
                = link_to 'destroy', affiliation_path(affiliation), :confirm => 'Are you sure?', :method => :delete
      %thead
        %tr
          %th Affiliate
          %th Expires
          %th Affiliate ID
          %th &nbsp;
  %br/
  %div
    - if(current_user && (current_user == @location.user || current_user.has_role?(:administrator)))
      = link_to 'Edit', edit_location_path(@location)
      |
      = link_to 'Destroy', @location, :confirm => 'Are you sure?', :method => :delete
      |
    = link_to 'Back', 'javascript:history.go(-1)'
