- if @map
  %div{:style => 'float: right;'}
    = @map.div(:width => 350, :height => 300)
%span.vcard
  - @location.affiliations.each do |affiliation|
    - unless Time.now > affiliation.expires
      %img{:src => affiliation.affiliate.logo_path, :style => 'float: left; margin-right: 5px;'}
  %h1.fn.org= h @location.name

  #club_info
    - if @location.url
      %p
        %b== #{t 'home_page'}:
        .url
          = link_to @location.url, @location.url
    %p
      %b== #{t 'address'}:
      = render :partial => "common/address", :locals => {:location => @location}
      - if @location.driving_directions?
        = link_to t('directions'), "http://maps.google.com/maps?saddr=#{session[:last_search_address]}&daddr=#{@location.geocode_address}"
    - if @location.description
      %p
        %b== #{t 'description'}:
        .note= @location.description.gsub(/\n|<br\/?>/, ' <br/> ')
    - if @location.contacts
      %p
        %b== #{t 'contacts'}:
        - @location.contacts.each do |contact|
          .agent.vcard
            - if contact[:name]
              .fn&= contact[:name]
            - if contact[:email]
              %div= mail_to(contact[:email], "Email this contact")
            - unless contact[:phone].blank?
              - contact[:phone].each do |phone|
                .tel
                  &= phone[:number]
                  - unless phone[:type].blank?
                    = content_tag('span', phone[:type], :class => :type)
    - unless @location.hours.blank?
      %p
        %b== #{t 'hours'}:
        &= @location.hours
    - unless visible_affiliations.empty?
      %table.affiliations
        %tbody
          - visible_affiliations.each do |affiliation|
            %tr
              %td= affiliation.affiliate.name
              %td= affiliation.expires
              %td= affiliation.foreign_key
              %td
                - if affiliation.new_record?
                  = link_to t('add'), new_affiliation_path(:affiliation => {:affiliate_id => affiliation.affiliate.id, :location_id => affiliation.location.id})
                - else
                  = link_to t('edit').downcase, edit_affiliation_path(affiliation) if current_user.administers(affiliation)
                  = link_to t('delete').downcase, affiliation_path(affiliation), :confirm => t('confirm'), :method => :delete
        %thead
          %tr
            %th= t 'affiliate'
            %th= t 'expires'
            %th= t 'affiliate_id'
            %th &nbsp;
    - if @location.lat && @location.lng
      .geo{:style => 'display: none;'}
        .latitude= @location.lat
        .longitude= @location.lng
    %br/
    %div
      - if(current_user && (current_user == @location.user || current_user.has_role?(:administrator)))
        = link_to t('edit'), edit_location_path(@location)
        |
        = link_to t('delete'), @location, :confirm => t('confirm'), :method => :delete
        |
      = link_to t('back'), 'javascript:history.go(-1)'
