<p>
  <b>Name:</b>
  <%=h @location.name %>
</p>

<p>
  <b>Type:</b>
  <%=h @location.type.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @location.street_address %>
</p>

<p>
  <b>City:</b>
  <%=h @location.city %>
</p>

<p>
  <b>State:</b>
  <%=h @location.state %>
</p>

<p>
  <b>Zip code:</b>
  <%=h @location.zip_code %>
</p>

<p>
  <b>Hours:</b>
  <%=h @location.hours %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @location.lat %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @location.lng %>
</p>

<p>
  <b>Owner:</b>
  <%=h @location.user.login if @location.user %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
<%= link_to 'Destroy', @location, :confirm => 'Are you sure?', :method => :delete %>
