<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
      "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>
      <%= @title ||
        params[:controller].capitalize + " " + params[:action].capitalize %>
    </title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        PromoteGo.org
      </div>
      <div id="sitenav">
        <ul>
          <li>
            <%= link_to "Home", :controller => :home, :action => :index %>
          </li>
          </li>
            <%= link_to "Find a Club", :controller => :search, :action => :radius, :type => "go_club" %>
          <li>
          <li>
            <%= link_to "About", :controller => :home, :action => :show, :page => :about %>
          </li>
          <li>
            <%= link_to "Contact", :controller => :home, :action => :show, :page => :contact %>
          </li>
          <% if current_user %>
            <li>
              <%= link_to "Log out", :controller => :sessions, :action => :destroy %>
            </li>
            <li>
              Welcome, <%= current_user.login %>
            </li>
          <% else %>
            <li>
              <%= link_to "Log in", :controller => :sessions, :action => :new %>
            </li>
            <li>
              <%= link_to "Register", :controller => :users, :action => :new %>
            </li>
          <% end %>
        </ul>
      </div>
      <div id="navlinks">
      </div>
      <div id="body">
        <%= display_standard_flashes %>
        <%= @content_for_layout %>
      </div>
      <div id="footer">
        PromoteGo.org is open source software.
      </div>
    </div>
  </body>
</html>
