!!! XML
!!! 1.1
%html
  %head
    %title
      = @title || "Promote Go &mdash; #{params[:action].capitalize} #{params[:controller].capitalize}"
    %meta{:name => 'description', :content => 'Worldwide club listings and search for the club nearest you.'}/
    %meta{:name => 'keywords', :content => 'Club Listings, clubs, Go, Wei-Chi, Weiqi, Baduk, Igo, games, board games'}/

    = stylesheet_link_tag :all
    = javascript_include_tag "email_decoder"
    = javascript_include_tag "jquery"
    = javascript_include_tag "application"
    :javascript
      #{@content_for_page_scripts}

    - if @map
      = GMap.header
      = @map.to_html

    = yield :head

  %body
    #wrapper
      #header{:style => "position: relative;"}
        %div
          PromoteGo.org
        - unless %w{search widgets}.include?(params[:controller])
          %div{:style => "position: absolute; top: 0px; right: 0px;"}
            %script{:type => 'text/javascript', :src => '/widgets/search.js'}
      #sitenav.nav
        %ul
          %li= link_to "Home", :controller => :home, :action => :index
          %li= link_to "Find a Club", :controller => :search, :action => :radius
          %li= link_to "Add a Club", :controller => :locations, :action => :new
          - if current_user && current_user.active?
            %li= link_to "Log out", :controller => :user_sessions, :action => :destroy
            %li== Welcome, #{current_user.login}
            %li= link_to "Settings", :controller => :settings, :action => :edit
          - else
            %li= link_to "Log in", :controller => :user_sessions, :action => :new
            %li= link_to "Register", :controller => :users, :action => :new
      #navlinks
      #body
        = display_standard_flashes
        = @content_for_layout
      #footer.nav
        %ul
          %li= link_to "About", :controller => :home, :action => :show, :page => :about
          %li= link_to "Widgets", :controller => :widgets, :action => :index
          %li= link_to "Development", "http://github.com/amikula/promotego-org/wikis/home"
          %li= link_to "Contact", :controller => :home, :action => :show, :page => :contact
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-8179738-1");
      pageTracker._trackPageview();
      } catch(err) {}
